.full-width-table {
  width: 100%;
}

.refine-table-container {
  margin-bottom: 30px;
  //display: flex;
}

.loading-shade {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-top {
  vertical-align: top;
}

.refine-options button {
  margin-right: 8px;
  height: 45px;
}

div.refine-options {
  display: flex;
  margin-bottom: 20px;
}

div.refine-action-buttons {
  margin-left: auto;
}

app-refine-bib {
  width: 100%;
}

@media(min-width: 600px) {
  .mat-column-id {
    flex: 0 0 150px;
  }

  .mat-column-refine {
    flex: 0 0 50%;
  }
}
