<div class="refine-options">
  <a [routerLink]="['']"><button mat-raised-button><mat-icon>arrow_back</mat-icon> {{ 'Refine.Back' | translate}}</button></a>
  <div class="refine-action-buttons">
    <button mat-raised-button (click)="save()" color="primary" [disabled]="totalRecords== 0">{{'Refine.Save' | translate}}</button>
  </div>
</div>

<div class="mat-elevation-z8 refine-table-container">
  <div class="loading-shade" *ngIf="status.isLoading">
    <mat-progress-spinner 
      [mode]="status.percentComplete >=0 ? 'determinate' : 'indeterminate'"
      [value]="status.percentComplete"
      >
    </mat-progress-spinner>
    <div class="loading-percent" *ngIf="status.percentComplete>=0">{{status.percentComplete}}%</div>
  </div>

  <mat-table [dataSource]="dataSource" class="full-width-table">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef translate>Refine.MMS</mat-header-cell>
      <mat-cell class="align-top" *matCellDef="let row">{{row.mms_id}}</mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef translate>Refine.Title</mat-header-cell>
      <mat-cell class="align-top" *matCellDef="let row">{{row.title}}</mat-cell>
    </ng-container>

    <!-- Refinement Column -->
    <ng-container matColumnDef="refine">
      <mat-header-cell *matHeaderCellDef translate>Refine.RefineFields</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <app-refine-bib [refinements]="(dataSource.refinements$ | async)[row.mms_id]"
          [previewSize]="previewSize" (refinementSelected)="dataSource.onRefinementSelected($event)">
        </app-refine-bib>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let bib; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="totalRecords" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" (page)="page()"></mat-paginator>
</div>
