  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{form.controls.name.value}}
      </mat-panel-title>
      <mat-panel-description>
        <i class="uxf-icon uxf-trash eca-button" (click)="$event.stopPropagation(); deleteService()" attr.aria-label="{{'Settings.Delete'|translate}}" title="{{'Settings.Delete'|translate}}"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field class="full-width">
      <mat-label translate>Settings.ServiceDef.Name</mat-label>
      <input matInput type="text" [formControl]="form.controls.name" required>
      <mat-error *ngIf="form.controls.name.invalid" translate>Settings.ServiceDef.Errors.Name</mat-error>
    </mat-form-field>  
    <mat-form-field class="full-width">
      <mat-label translate>Settings.ServiceDef.ServiceURL</mat-label>
      <input matInput type="text" [formControl]="form.controls.url">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label translate>Settings.ServiceDef.Prefix</mat-label>
      <mat-hint translate>Settings.ServiceDef.PrefixHint</mat-hint>
      <input matInput type="text" [formControl]="form.controls.prefix">
    </mat-form-field>
    <div class="full-width radio-container">
      <label translate>Settings.ServiceDef.UriField</label>
      <mat-radio-group aria-label="Select an option" [formControl]="form.controls.uriSubfield" >
        <mat-radio-button value="0">$0</mat-radio-button>
        <mat-radio-button value="1">$1</mat-radio-button>
      </mat-radio-group>
    </div>      
    <div class="full-width radio-container">
      <mat-checkbox labelPosition="after" [formControl]="form.controls.correctTerm">{{'Settings.ServiceDef.CorrectTerm' | translate}}</mat-checkbox>
    </div>      
    <h3 translate>Settings.ServiceDef.Fields</h3>
    <div class="field-list">
      <div *ngFor="let f of fields.controls; index as i">
        <div class="field-header">
          <span translate [translateParams]="{index: i+1}">Settings.ServiceDef.FieldHeader</span>
          <mat-icon (click)="removeField(i)">cancel</mat-icon>
        </div>
        <div class="field-input">
        <mat-form-field appearance="outline">
          <mat-label translate>Settings.ServiceDef.Tag</mat-label>
          <input matInput [formControl]="f.controls.tag" required>
          <mat-error *ngIf="f.controls.tag.invalid" translate>Settings.ServiceDef.Errors.Tag</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label translate>Settings.ServiceDef.Subfield</mat-label>
          <input matInput [formControl]="f.controls.subfield">
          <mat-error *ngIf="f.controls.subfield.invalid" translate>Settings.ServiceDef.Errors.Subfield</mat-error>
        </mat-form-field>

        <mat-form-field class="field-large" appearance="outline">
          <mat-label translate>Settings.ServiceDef.Indexes</mat-label>
          <mat-select [formControl]="f.controls.indexes" multiple>
            <mat-option *ngFor="let index of indexList" [value]="index.id">{{index.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="field-large" appearance="outline">
          <mat-label translate>Settings.ServiceDef.Hints</mat-label>
          <mat-chip-list #chipList aria-label="Hint Subfields" [formControl]="f.controls.hints">
            <mat-chip *ngFor="let val of f.controls.hints.value" selectable="true"
                     removable="true" (removed)="removeChip(f.controls.hints, val)">
              {{val}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="{{'Settings.ServiceDef.AddHint' | translate}}"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="'true'"
                   (matChipInputTokenEnd)="addChip($event, f.controls.hints)">
          </mat-chip-list>
        </mat-form-field>        

        <mat-form-field class="field-large" appearance="outline">
          <mat-label translate>Settings.ServiceDef.Subfield2</mat-label>
          <mat-chip-list #chipList aria-label="Subfield2 Values" [formControl]="f.controls.subfield2">
            <mat-chip *ngFor="let val of f.controls.subfield2.value" selectable="true"
                     removable="true" (removed)="removeChip(f.controls.subfield2, val)">
              {{val}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="{{'Settings.ServiceDef.AddSubfield2' | translate}}"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="'true'"
                   (matChipInputTokenEnd)="addChip($event, f.controls.subfield2)">
          </mat-chip-list>
        </mat-form-field>  
        </div>      
        <mat-divider></mat-divider>
      </div> 
      <button type="button" class="pull-right" (click)="addField()" mat-icon-button aria-label="Add field" title="Add field">
        <mat-icon>add_circle</mat-icon>
        {{ 'Settings.ServiceDef.AddField' | translate }}
      </button>      
    </div> 
    
  </mat-expansion-panel>
