<div class="loading-shade" *ngIf="saving">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<form [formGroup]="form" *ngIf="form">
  <div class="cloudapp-actions">
    <button mat-flat-button color="secondary" [routerLink]="['/']">
      <mat-icon>arrow_back</mat-icon>
      {{'Settings.Back' | translate}}
    </button>
    <button mat-flat-button color="secondary" (click)="restore()">{{ 'Settings.RestoreDefault' | translate}}</button>
    <button mat-flat-button color="secondary" type="button" (click)="reset()" [disabled]="!form.dirty">{{ 'Settings.Reset' | translate }}</button> 
    <button mat-flat-button color="primary" type="button" (click)="save()" [disabled]="!form.dirty">{{ 'Settings.Save' | translate }}</button>
  </div>
  <h1 translate>Settings.Title</h1>
  <h2 translate>Settings.General</h2>
  <section class="settings-section">
    <mat-checkbox labelPosition="after" formControlName="applyRefinementsToAllValues">{{'Settings.Apply' | translate}}</mat-checkbox>
  </section>

  <h2 translate>Settings.RefineServices</h2>
  <mat-accordion>
    <app-settings-service-def 
      *ngFor="let service of services.controls | keyvalue" [form]="service.value"
      (onDelete)="deleteService(service.key)"
    >
    </app-settings-service-def>
  </mat-accordion>
  <div>
    <button mat-flat-button color="secondary" (click)="addService()"><mat-icon>add_circle</mat-icon> Add Refine Service</button>
  </div>
</form>


