<div class="refine-bib">
  <mat-list>
    <mat-list-item *ngFor="let field of refinements ; last as isLast" class="refine-list-item">
      <p mat-line class="refine-bib-field">{{field.tag}}${{field.subfield}}: {{field.value}}</p>
      <mat-label *ngIf="!field.refineOptions">Retrieving refinements...</mat-label>
      <mat-label *ngIf="field.refineOptions && field.refineOptions.length==0">No refinements found</mat-label>      
      <mat-form-field class="refine-bib-options" *ngIf="field.refineOptions && field.refineOptions.length>0">
          <mat-select placeholder="Select a refinement" [(value)]="field.selectedRefineOption" [compareWith]="compareRefineOptions">
            <mat-option *ngFor="let option of field.refineOptions" [value]="option">
              {{ option.value }}
            </mat-option>
          </mat-select>          
        </mat-form-field>      
      <mat-divider *ngIf="!isLast"></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
