.mat-list .mat-list-item {
  height: 60px!important; /* default is 72px */
  font-size: small!important; 
}

.refine-bib-field {
  padding-right: 10px!important
}

.mat-list-base {
  padding-top: 0px!important;
}

.refine-preview-pane {
  position: absolute;
  right:300px; 
  top:25px; 
  background-color: white;
  z-index:100;
  padding: 10px;
  box-shadow: 1px 0px 3px 1px #888;
}

.refine-options-message {
  width: 250px;
  text-align: center;
}
