.mat-list .mat-list-item {
  font-size: small!important; 
}

.refine-bib-field {
  padding-right: 10px!important
}

.mat-list-base {
  padding-top: 0px!important;
}

.refine-options-message {
  width: 250px;
  text-align: center;
}

/* Wrap refine options in select */
.mat-select-panel mat-option.mat-option {
  //margin: 1rem 0;
  overflow: visible;
  line-height: initial;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-bottom: 1rem;
}
  
.mat-option-text.mat-option-text {
  white-space: normal;
}