
.select-refine-service-field {
  margin: 00px 20px 10px 0
}

.refine-options app-select-set {
  padding-right: 20px;
}

.refine-options button {
  margin-right: 8px;
  height: 45px;
}

mat-radio-button {
  margin-right: 10px;
}

mat-radio-group {
  display: block;
  margin-bottom: 10px;
}

mat-label.displayed-ids {
  display: block;
  height: 56px;
  margin-top: 20px;
}