<mat-form-field class="select-set-field" style="width: 400px">
  <mat-label>Select a set</mat-label>
  <input type="text" placeholder="Type to search..." aria-label="Select a set" matInput [formControl]="formControl" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" panelWidth="500px">
    <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let option of filteredOptions.set" [value]="option" (onSelectionChange)="setSelected.emit($event.source.value);">
        {{option.name}}
      </mat-option>      
    </ng-container>
  </mat-autocomplete>
</mat-form-field>
