.full-width-table {
  width: 100%;
}

td.mat-cell, th.mat-header-cell {
  padding: 10px;
}

td.mat-column-title, td.mat-column-id {
  line-height: 60px;
}

.refine-table-container {
  margin-bottom: 30px;
}

.select-refine-service-field {
  margin: 00px 20px 10px 0
}

.loading-shade {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.refine-options app-select-set {
  padding-right: 20px;
}

.align-top {
  vertical-align: top;
}

.refine-options button {
  margin-right: 8px;
  height: 45px;
}

div.refine-options {
  display: flex;
}

div.refine-action-buttons {
  margin-left: auto;
}

.refine-progress-bar {
  width: 50%;
}