<div class="refine-options">
  <app-select-set #selectSet
    (setSelected)=onSetSelected($event)>
  </app-select-set>

  <mat-form-field class="select-refine-service-field">
    <mat-select placeholder="Select a refine service" (selectionChange)="onRefineServiceSelected($event)" [formControl]="serviceSelect" [compareWith]="compareRefineServices">
      <mat-option *ngFor="let service of refineServices | async" [value]="service">
        {{ service.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-stroked-button (click)="load()" [disabled]="recordCount > 0 || !selectedSet || !configService.selectedRefineService" color="primary">Begin Refining</button>
  <div class="refine-action-buttons">
    <button mat-raised-button (click)="clear()" [disabled]="recordCount == 0">Clear</button>
    <button mat-raised-button (click)="save()" color="primary" [disabled]="recordCount == 0">Save Refinements</button>
  </div>
</div>

<div class="mat-elevation-z8 refine-table-container">
  <div class="loading-shade"
        *ngIf="isLoading">
        <mat-progress-bar
          class="refine-progress-bar"
          [mode]="percentComplete >= 0 ? 'buffer' : 'indeterminate'"
          [value]="percentComplete"
          >
      </mat-progress-bar>
  </div> 

  <table mat-table [dataSource]="dataSource" class="full-width-table">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>MMS ID</th>
      <td mat-cell class="align-top" *matCellDef="let row">{{row.mms_id}}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell class="align-top" *matCellDef="let row">{{row.title}}</td>
    </ng-container>

    <!-- Refinement Column -->
    <ng-container matColumnDef="refine">
      <th mat-header-cell *matHeaderCellDef>Refine</th>
      <td mat-cell *matCellDef="let row">
        <app-refine-bib [refinements]="(dataSource.refinements$ | async)[row.mms_id]"
          [previewSize]="previewSize" (refinementSelected)="dataSource.onRefinementSelected($event)">
        </app-refine-bib>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let bib; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="recordCount" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
</div>
